.countfect { 
    font-family: 'Archivo Black'; 
    font-size: 2.5rem; 
    /* more styles here */
  }
  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }